[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
pytz = "*"
schedule = "*"
beautiful = "*"

[dev-packages]

[requires]
python_version = "*"
